@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

html {

    scroll-behavior: smooth;
}

body {
    font-family: "advent pro" , sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: navy;
}
nav {
overflow: hidden;
background-color: orangered;
position: fixed;
width: 100%;
opacity: 0.9;

}
header li {
float: right;
font-size: 1.2em;


}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
font-family: "dancing script" cursive;
font-weight: bold;
float: left;

}
#imageprincipale {

    padding-top: 60px;
    background: url(imageprincipale.jpg) no-repeat fixed ;
    background-size: cover;
    height: 799px;

}
h1 {
    font-family: "dancing script" , cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;

}
#premiertrait {
height: 1px; ;
width:25% ;
margin: -3px auto;
background-color: blueviolet;
box-shadow: 1px 3px 2px black;
}
h3 {
text-align: center;
color: antiquewhite;
font-size: 3em;
text-shadow: 1px 3px 2px black;
}
#Presentation {
background-color: antiquewhite;
padding: 10px 0px 100px 0;

}
#textIntro {
padding: 0px 20%;

}
#prestations {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px 30%;
}
  .imageprestation h4 {

    font-family: "dancing scritp" , cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
  }
  .imageprestation img {
      border-radius: 10%;
    
      box-shadow: 3px 2px 7px 4px #000000;
      
  }
  .imageprestation img:hover {
      opacity: 0.5;
      transform: scale(1.05);
      transition: 0.5s ease-in-out;
  }
  #parcenfant {
      height: 1400px;
      background-color: beige;
      padding: 1px 2%;
  }
  #parcenfant h2 {
      padding-top: 60px;
  }
  #parcen {
 background: url(parcen.jpg);
  }
  #parcenfant li {
      margin: 65px 100px 0 100px;
      height: 226px;
      width: 55%;
      max-width: 550px;
      float: left;
      box-shadow: 6px 6px 28px --1px rgba(0,0,0,0.75);
  }
  #parcenfant p {
      height: 45px;
      width: 235px;
      background-color: rgb(255, 0, 170);
      float: right;
      margin: 50px -180px 0 0;
      font-size: 1.5em;
      text-align: center;
      padding-top: 15px;
      box-shadow: 4px 4px 0 1px rgb(61, 43, 163);
  }
  footer {
      background-color: #52443A;
      color: #FFFAE1;
      padding: 20px 0 10px 0 ;
      text-align: center;
  }
  form {
margin: 0 auto;
max-width: 900px;


  }
  input , textarea , button {

    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: Advent Pro , sans-serif;
    border-radius: 8px;
  }
  textarea {
      height: 120px;
  }
  button {
      font-size: 1.5em;
      background-color: #FFFAE1;
  }
  button:hover {
      background-color: #E55039;
      color: #FFFAE1;
      cursor: pointer;
      transition: 0.2s ease-in-out ;
  }
  #Deuxiemetrait {
      height: 1px;
      width: 75%;
      background-color: #FFFAE1;
      margin: 60px auto;
  }
  #Copyrighteticons {
      display: flex;
      margin-bottom: 20px;
      padding: 0 10%;

  }
  #copyright {
      width: 50%;
      text-align: left;
      color: #FFFAE1;
  }
  #icons {
      width: 50%;
      text-align: right;
  }
  #icons a {
      display: inline-block;
      padding: 0 15px;
      font-size: 1.3em;
      color: #FFFAE1;
  }
  #icons a:hover {
      transform: scale(1.5);
      transition: 0.1s;
  }